body{
    background-color: aqua;
    font-family: fantasy;
    font-size: 25px;
    align-items: center;
    color: brown;
}
#myCarousel{
    background-color: coral;
}
#myCarousel img{
    height: 300px;
    margin-top: 35px;
    
}
.carousel-inner p{
    margin-top: 15px;
    margin-bottom: 15px;
    color: white;
    font-size: 20px;
}
#flowers{
    background-color: aqua;
}
.line {
    height: 6px;
    width: 400px;
    background-color: black;
    margin: 8px auto;